.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 1vh
}